<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Welcome to netmate.com, <%= @user.name %></h1>
		<p>
			You have successfully signed up to netmate.com,
			your username is: <%= @user.signin %>.<br/>
		</p>
		<p>
			To signin to the site, just follow this link: <%= @url %>
		</p>
		<p>Thanksfor joining and have a great day!</p>
	</body>
</html>
