<footer class="footer">
	<small>
		<a href="http://khan1364.narod.ru">Netmate on Rails</a>
		by Anatoliy Khan
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",   about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://khan1364.narod.ru/news">News</a></li>
		</ul>
	</nav>
</footer>
